
@{
    ViewData["Title"] = "DraftSetting2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DraftSetting2</h1>
<p>通过SlugifyParameterTransformer实现接口IOutboundParameterTransformer对区域路由可读性进行批量设置</p>
