@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewBag.eat</h2>
    <h2>@ViewBag.alipay</h2>
    <h2>@ViewBag.wxpay</h2>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
