
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DraftSetting</title>
</head>
<body>
    <h1>区域路由设置界面</h1>
</body>
</html>
